hurry.filesize==0.9
kneed==0.3.1
nltk==3.4.1
pandas==0.24.2
python-Levenshtein==0.12.0
requests==2.22.0
spacy==2.1.4

numpy
scikit-learn
scipy
matplotlib
threadpoolctl
joblib
six
cycler
kiwisolver
python-dateutil
pyparsing
click 
regex
tqdm
pytz
idna
certifi
urllib3
requests
preshed
srsly
blis
thinc
murmurhash
cymem
preshed
catalogue
wasabi
plac

